page-test-exercises {
    .imgExr {
        height: 30px;
        width: 30px;
        display: inline-block;
    }
    .imgExrTitle {
        position: fixed;
        padding-left: 10px;
    }
    .displayTime {
        font-size: 7rem;
        font-weight: bold;
        color: #32db64;
    }
    .tbl-run-exr {
        width: 100%;
    }
    .tbl-td-run-exr {
        width: 50%;
    }
    .imgExrTime {
        width: 60px;
        margin-right: 20px;
    }
    .button-1 {
        width: 100%;
    }
    .header-tbl {
        width: 100%;
    }
    .icon-close {
       font-size: x-large;
    }
}
