page-list {
  .header-tbl {
    width: 100%;
  }
  .icon-edit {
    font-size: x-large;
  }
  .menu-item {
    font-size: 0.8rem;
  }
  .cust-ion-icon-center {
  text-align: center;
  }
  .text-lable-pr {
    color: #488aff;
  }
  .text-lable-def {
    color: #000;
  }
/*Card*/
  .card-cust {
    border-radius: 15px;
 }
.img {
    width: 30px;
    display: inline;
    padding-right: 5px;
}
.img-div {
    padding-left: 10px;
    padding-top: 25px;
    padding-top: 0;
}
.card-cust ion-card-header {
    padding-bottom: 0;
}
.card-cust ion-card-content {
    padding-top: 0;
}
.edit-tbl {
  margin-left: auto;
}
.edit-tbl td {
 padding-right: 15px;
 text-align: center;
}

}
