page-list {
  .header-tbl {
    width: 100%;
  }
  .icon-edit {
    font-size: x-large;
  }
  .menu-item {
    font-size: 0.8rem;
  }
  .cust-ion-icon-center {
  text-align: center;
  }
  .text-lable-pr {
    color: #488aff;
  }
  .text-lable-def {
    color: #000;
  }
}
