<ion-header>
  <ion-navbar>
    <ion-title>{{'AddComplecxExercisesPage.AddComplecxExercises' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label color="primary">{{'AddComplecxExercisesPage.NameComplex' | translate}}</ion-label>
      <ion-input *ngIf="ComplExr.standart" placeholder="{{'AddComplecxExercisesPage.NameComplex' | translate}}" [(ngModel)]="ComplExr.nameComplexExrLang"></ion-input>
      <ion-input *ngIf="!ComplExr.standart" placeholder="{{'AddComplecxExercisesPage.NameComplex' | translate}}" [(ngModel)]="ComplExr.nameComplexExr"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">{{'AddComplecxExercisesPage.Pause' | translate}}</ion-label>
      <ion-input placeholder="{{'AddComplecxExercisesPage.Pause' | translate}}" [(ngModel)]="ComplExr.pause"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">{{'AddComplecxExercisesPage.ProgressLb' | translate}}</ion-label>
      <ion-input placeholder="{{'AddComplecxExercisesPage.ProgressNum' | translate}}" [(ngModel)]="ComplExr.progressNum"></ion-input>
      <ion-select interface="popover" placeholder="AddComplecxExercisesPage.ProgressLb" [(ngModel)]="ComplExr.progressPer">
        <ion-option value="1">{{'AddComplecxExercisesPage.D1' | translate}}</ion-option>
        <ion-option value="2">{{'AddComplecxExercisesPage.D2' | translate}}</ion-option>
        <ion-option value="3">{{'AddComplecxExercisesPage.D3' | translate}}</ion-option>
        <ion-option value="4">{{'AddComplecxExercisesPage.D4' | translate}}</ion-option>
        <ion-option value="5">{{'AddComplecxExercisesPage.D5' | translate}}</ion-option>
        <ion-option value="6">{{'AddComplecxExercisesPage.D6' | translate}}</ion-option>
        <ion-option value="7">{{'AddComplecxExercisesPage.D7' | translate}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-list reorder="true" (ionItemReorder)="itemReorder($event)" >
      <ion-item *ngFor="let item of ComplExr.Exr; let i = index" class="ion-item-list-exr">
        <ion-label color="primary" class="ion-label-exer">
          <table class="ion-item-table">  
            <tr>
              <td>
                <img src="{{item.imageExr}}" class = 'imgExr'>
              </td>
              <td class="item-lable">
                <h2>{{item.text}}</h2>
              </td>
              <td class="">
                <h1>
                  <ion-datetime class="under-time text-lable-def" pickerFormat="m:s" [(ngModel)]="item.timeStr" (ionChange)="changeTime(item.timeStr)"></ion-datetime>
                  <p class="time-lable-buttom">{{'AddComplecxExercisesPage.Time-lable' | translate}}</p>
                </h1>
              </td>
              <td class="cust-ion-icon-center" (click)="deleteItem(i)">
                <ion-icon name="trash"></ion-icon>
                  <p class="menu-item">{{'AddComplecxExercisesPage.Delete' | translate}}</p>
              </td>
            </tr>
          </table>
          </ion-label>
      </ion-item>
  </ion-list >
  <button ion-button color="light" (click)="presentActionSheet()" class = "button-1">{{'AddComplecxExercisesPage.Add' | translate}}</button>
</ion-content>
<ion-footer>
  <tr>
    <td  class = "button-2" colspan=1>
      <button ion-button color="light" (click)="Save()" class = "button-3">{{'AddComplecxExercisesPage.Save' | translate}}</button>
    </td>
    <td  class = "button-2" colspan=1>
      <button ion-button color="light" (click)="Cancel()" class = "button-3">{{'AddComplecxExercisesPage.Cancel' | translate}}</button>
    </td>
  </tr>
</ion-footer>