page-add-complecx-exercises {
  .imgExr {
    width: 60px;
   /* margin-right: 20px;*/
  }
  .button-2 {
    width: 25%;
  }
  .button-space {
    width: 5%;
  }
  .button-1 {
    width: 100%;
  }
  .button-3 {
    margin: 10px;
    width: -webkit-fill-available;
  }
  .under-time {
    text-decoration: underline;
    text-decoration-color: #32db64!important;
  }
  .text-lable-def {
    color: #000;
    padding-bottom: 0;
  }
  .menu-item {
    font-size: 0.8rem;
  }
  .cust-ion-icon-center {
    text-align: center;
    }
    .list-md {
      margin: 0px 0 16px;
    }
  .ion-item-table {
    display: table;
    width: 100%;
  }
  .item-lable {
    width: 30%;
  }
  .ion-label-exer {
    margin-right: 0;
  }
  .ion-item-list-exr .item-cover {
    display: none;
  }
  .time-lable-buttom {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
}


