<ion-header>
  <ion-navbar>
    <ion-title>selectExist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list side = "start">
    <ion-item *ngFor="let item of listExr; let i = index">
      <ion-label (click)="selectExr (i)">
        <h1 *ngIf="item.standart" [ngClass]="!reorderItems ? 'text-lable-pr' : 'text-lable-def'">{{'DefaultListExr.ComplexName.'+item.nameComplexExr | translate}}</h1>
        <h1 *ngIf="!item.standart" [ngClass]="!reorderItems ? 'text-lable-pr' : 'text-lable-def'">{{item.nameComplexExr}}</h1>
        <p>{{'StartPage.Count' | translate}}: {{item.Exr.length}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
