<ion-header>
  <ion-navbar>
    <ion-title>{{ listExr.nameComplexExr }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table>
  <tr>
    <td *ngFor="let item of listExrDone; let i = index">
        <img src="{{item.imageExr}}" class = 'imgExrOK'>
    </td>
  </tr>
</table>

  <!--ion-list *ngIf="listExrDone.length > 0">
    <ion-item   *ngFor="let item of listExrDone; let i = index">
        <tr>
            <td>
                <img src="{{item.imageExr}}" class = 'imgExr'>
            </td>
            <td>
              <h1>{{item.type}}</h1>
              <h3>Count: {{item.time}}</h3>
            </td>
        </tr>
    </ion-item>
  </ion-list-->

  <div >
    <h1 *ngIf="ExrRun.type">
      <div *ngIf = "displayTimePreStart > -1" class = "displayTime" text-center>
        <p no-margin>{{displayTimePreStart}}</p>
      </div>
      <div *ngIf = "displayTimePreStart === -1" class = "displayTime" text-center>
        <p no-margin>{{displayTime}}</p>
      </div>
      <!--div *ngIf = "displayTimePreStart === -1" class = "displayTimeLable" text-center no-margin no-padding>
        {{ "RunPage.displayTime" | translate }}
      </div-->
      <table class='tbl-run-exr'><tr><td class='tbl-td-run-exr' text-right><img src="{{ExrRun.imageExr}}" class = 'imgExr'></td><td class='tbl-td-run-exr' ><h3 text-left>{{ExrRun.text}}</h3></td></tr></table>
    </h1>
  </div>
  <div>
    <progress *ngFor="let item of listExrProgress.Exr; let i = index" value="{{!!item.runPercent ? item.runPercent : 0}}" id="progress{{i}}" [ngStyle]="{'width.%': item.percent}" reversed="false"></progress>
  </div>
  <ion-list *ngIf="listExr.Exr.length > 0">
    <ion-item   *ngFor="let item of listExr.Exr; let i = index">
      <tr>
        <td>
          <img src="{{item.imageExr}}" class = 'imgExr'>
        </td>
        <td>
          <h1>{{item.text}}</h1>
          <h3>{{"RunPage.Time" | translate}}: {{ item.timeStr | date :  "m:s" }}</h3>   
        </td>
      </tr>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <div *ngIf="(!ExrRun.type || !hasStarted) && !(listExr.Exr.length <= 0 && listExrDone.length > 0) && displayTimePreStart === -1">
        <button ion-button color="light" (click)="Run()" class = "button-1" solid block default>{{ "RunPage.Start" | translate}}</button>
    </div>

    <div>
        <div *ngIf="listExr.Exr.length <= 0 && listExrDone.length > 0 && !ExrRun.type">
            <button ion-button color="light" (click)="Close()"  class = "button-1">{{ "RunPage.Close" | translate}}</button>
        </div>
        <table class = "button-tbl">
        <tr *ngIf="!!ExrRun.type && hasStarted">
          <td class = "button-2">
              <button ion-button color="light" (click)="Stop()" class = "button-1">{{"RunPage.Stop" | translate}}</button>
          </td>
          <td class = "button-space"></td>
          <td class = "button-2">
            <button ion-button color="light" (click)="pauseTimer()" *ngIf="runTimer && hasStarted"  class = "button-1">{{"RunPage.Pause" | translate}}</button>
            <button ion-button color="light" (click)="resumeTimer()" *ngIf="!runTimer && hasStarted"  class = "button-1">{{"RunPage.Continue" | translate}}</button>
          </td>
        </tr>
        </table>
      </div>
    </ion-footer>
