page-run-exercises {
  .button-tbl {
    width: 100%;
  }
  .button-1 {
    width: 100%;
  }
  .button-2 {
    width: 30%;
  }
  .button-space {
    width: 5%;
  }
  .displayTime {
    font-size: 7rem;
    font-weight: bold;
    color: #32db64;
  }
  .displayTimeLable {
    font-size: 1.5rem
  }
  .imgExr {
    width: 60px;
    margin-right: 20px;
  }
  .tbl-run-exr {
    width: 100%
  }
  .tbl-td-run-exr {
    width: 50%
  }
}
