<ion-header>
  <ion-navbar>
    <tr>
      <td>
        <ion-title *ngIf="listExr.standart" >{{'DefaultListExr.ComplexName.'+listExr.nameComplexExr | translate}}</ion-title>
        <ion-title *ngIf="!listExr.standart" >{{ listExr.nameComplexExr }}</ion-title>
      </td>
      <td>
        <ion-icon class="icon-edit-complex" name = "create" (click) = "editItem()" *ngIf = "!reorderItems" color = "secondary"></ion-icon>
      </td>     
    </tr>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table>
    <tr>
      <td *ngFor="let item of listExrDone; let i = index">
        <img src="{{item.imageExr}}" class = 'imgExrOK'>
      </td>
    </tr>
  </table>

  <div>
    <h1 *ngIf="ExrRun.type">
      <div *ngIf = "displayTimePreStart > -1" class = "displayTime" text-center>
        <p no-margin>{{displayTimePreStart}}</p>
      </div>
      <div *ngIf = "displayTimePreStart === -1" class = "displayTime" text-center>
        <p no-margin>{{displayTime}}</p>
      </div>
      <table class='tbl-run-exr'><tr><td class='tbl-td-run-exr' text-right><img src="{{ExrRun.imageExr}}" class = 'imgExr'></td><td class='tbl-td-run-exr' ><h3 text-left>{{'ListExr.'+ExrRun.type | translate}}</h3></td></tr></table>
    </h1>
  </div>
  <div>
    <progress *ngFor="let item of listExrProgress.Exr; let i = index" value="{{!!item.runPercent ? item.runPercent : 0}}" id="progress{{i}}" [ngStyle]="{'width.%': item.percent}" reversed="false"></progress>
  </div>
  <div *ngIf="!!listExr.Exr">
    <ion-list *ngIf="!!listExr.Exr && listExr.Exr.length > 0">
      <ion-item   *ngFor="let item of listExr.Exr; let i = index">
        <tr>
          <td>
            <img src="{{item.imageExr}}" class = 'imgExr'>
          </td>
          <td>
            <h1>{{'ListExr.'+item.type | translate}}</h1>
            <h3>{{"RunPage.Time" | translate}}: {{ item.timeStr | date :  "m:s" }}</h3>   
          </td>
        </tr>
      </ion-item>
    </ion-list>
  </div>
<div *ngIf="listExr.Exr.length <= 0 && listExrDone.length > 0 && !ExrRun.type" class="run-exr-motivation">
  <h1>{{'Motivation.'+motivationCnt | translate}}</h1>
</div>
</ion-content>
<ion-footer>
    <div *ngIf="(!ExrRun.type || !hasStarted) && !(listExr.Exr && listExr.Exr.length <= 0 && listExrDone.length > 0) && displayTimePreStart === -1">
        <button ion-button color="light" (click)="Run()" class = "button-1" solid block default>{{ "RunPage.Start" | translate}}</button>
    </div>

    <div>
        <div *ngIf="listExr.Exr.length <= 0 && listExrDone.length > 0 && !ExrRun.type">
            <button ion-button color="light" (click)="Close()"  class = "button-1">{{ "RunPage.Close" | translate}}</button>
        </div>
        <table class = "button-tbl">
        <tr *ngIf="!!ExrRun.type && hasStarted">
          <td class = "button-2">
              <button ion-button color="light" (click)="Stop()" class = "button-1">{{"RunPage.Stop" | translate}}</button>
          </td>
          <td class = "button-space"></td>
          <td class = "button-2">
            <button ion-button color="light" (click)="pauseTimer()" *ngIf="runTimer && hasStarted"  class = "button-1">{{"RunPage.Pause" | translate}}</button>
            <button ion-button color="light" (click)="resumeTimer()" *ngIf="!runTimer && hasStarted"  class = "button-1">{{"RunPage.Continue" | translate}}</button>
          </td>
        </tr>
        </table>
      </div>
    </ion-footer>
